

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:16px;
    font-family:arial,sans-serif;
  }

  .container{
    display: flex;
    flex-direction: column;
    background: rgb(162, 186, 57);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 24px;
    border-bottom: solid 5px rgb(201, 231, 67);
    margin-bottom: 20px;
  }

  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font-weight:bold;
    text-align: left;
    font-size:18px;
  } 

.input label {
    font-size:18px;
  }

button{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size:18px;
    background: rgb(108, 131, 5);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: grab;
  }

  .resulte{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font-weight:bold;
    background: rgb(108, 131, 5);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }

